@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        .#{$left-side}l-flex#{$right-side}{
            display: flex;

            &--flex-direction#{$right-side}{
                flex-direction: row ;

                &--row-reverse#{$right-side}{
                    flex-direction: row-reverse;
                }

                &--column#{$right-side}{
                    flex-direction: column;
                }

                &--column-reverse#{$right-side}{
                    flex-direction: column-reverse;
                }
            }

            &--flex-wrap#{$right-side}{
                flex-wrap: nowrap;

                &--wrap#{$right-side} {
                    flex-wrap: wrap;
                }

                &--wrap-reverse#{$right-side}{
                    flex-wrap: wrap-reverse;
                }
            }

            &--flex-flow#{$right-side}{
                flex-flow: column wrap;
            }

            &--justify-content#{$right-side}{
                justify-content:flex-start;

                &--flex-end#{$right-side}{
                    justify-content: flex-end;
                }

                &--center#{$right-side} {
                    justify-content: center ;
                }

                &--space-between#{$right-side}{
                    justify-content: space-between;
                }

                &--space-around#{$right-side}{
                    justify-content: space-around;
                }

                &--space-evenly#{$right-side}{
                    justify-content: space-evenly;
                }
            }

            &--align-items#{$right-side}{
                align-items: stretch ;

                &--flex-start#{$right-side}{
                    align-items: flex-start;
                }

                &--flex-end#{$right-side}{
                    align-items: flex-end;
                }

                &--center#{$right-side} {
                    align-items: center ;
                }

                &--baseline#{$right-side} {
                    align-items: baseline ;
                }
            }

            &--align-content#{$right-side}{
                align-content:flex-start;

                &--flex-end#{$right-side}{
                    align-content: flex-end;
                }

                &--center#{$right-side} {
                    align-content: center ;
                }

                &--space-between#{$right-side}{
                    align-content: space-between;
                }

                &--space-around#{$right-side}{
                    align-content: space-around;
                }
            }

            &--align-self#{$right-side}{
                align-self:auto ;

                &--flex-start#{$right-side}{
                    align-self: flex-start;
                }

                &--flex-end#{$right-side}{
                    align-self: flex-end;
                }

                &--center#{$right-side} {
                    align-self: center ;
                }

                &-baseline#{$right-side} {
                    align-self: baseline ;
                }

                &--stretch#{$right-side}{
                    align-self: stretch;
                }
            }
        }
    }
}
