@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        .#{$left-side}l-order#{$right-side}{
            display: grid;
            grid-template-areas: 
            "a"
            "b"
            "c";
            
            &__a{
                grid-area: a;
            }

            &__b{
                grid-area: b;
            }

            &__c{
                grid-area: c;
            }

            &--acb{
                grid-template-areas: 
                "a"
                "c"
                "b";
            }

            &--bca{
                grid-template-areas: 
                "b"
                "c"
                "a";
            }
            
            &--bac{
                grid-template-areas: 
                "b"
                "a"
                "c";
            }

            &--cab{
                grid-template-areas: 
                "c"
                "a"
                "b";
            }

            &--cba{
                grid-template-areas: 
                "c"
                "b"
                "a";
            }

            &-horizontal--acb{
                grid-template-areas: 
                "a c b";
            }

            &-horizontal--bca{
                grid-template-areas: 
                "b c a";
            }
            
            &-horizontal--bac{
                grid-template-areas: 
                "b a c";
            }

            &-horizontal--cab{
                grid-template-areas: 
                "c a b";
            }

            &-horizontal--cba{
                grid-template-areas: 
                "c b a";
            }
        }
    }
}