@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        .#{$left-side}l-order#{$right-side}{
            display: grid;
            grid-template-areas: 
            "1"
            "2"
            "3";
            
            &__1{
                grid-area: 1;
            }

            &__2{
                grid-area: 2;
            }

            &__3{
                grid-area: 3;
            }

            &--132{
                grid-template-areas: 
                "1"
                "3"
                "2";
            }

            &--231{
                grid-template-areas: 
                "2"
                "3"
                "1";
            }
            
            &--213{
                grid-template-areas: 
                "2"
                "1"
                "3";
            }

            &--312{
                grid-template-areas: 
                "3"
                "1"
                "2";
            }

            &--321{
                grid-template-areas: 
                "3"
                "2"
                "1";
            }

            &-horizontal--132{
                grid-template-areas: 
                "1 3 2";
            }

            &-horizontal--231{
                grid-template-areas: 
                "2 3 1";
            }
            
            &-horizontal--213{
                grid-template-areas: 
                "2 1 3";
            }

            &-horizontal--312{
                grid-template-areas: 
                "3 1 2";
            }

            &-horizontal--321{
                grid-template-areas: 
                "3 2 1";
            }
        }
    }
}