@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
$shadowsMap:map-keys($shadows);
:root{
    @each $value in $shadowsMap{
        --shadow-#{$value}:#{map-get($shadows, $value)};
    }
}


@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        @each $value in $shadowsMap{
            @if $value == ""{
                .#{$left-side}g--box-shadow#{$right-side}{
                    @include box-shadow(var(--shadow-#{$value}));
                }
            } @else{
                .#{$left-side}g--box-shadow-#{$value}#{$right-side}{
                    @include box-shadow(var(--shadow-#{$value}))
                }
            }
        }
    }
}

