:root{
    @for $i from 1 through length($font-size){
        --font-zize-#{$i}: #{nth($font-size, $i)};
    }
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        @for $i from 1 through length($font-size) {
            .#{$left-side}g--font-size-#{$i}#{$right-side}{
                font-size: var(--font-zize-#{$i});
            }
        }
    }
}