:root{
    @for $i from 1 to length($width){
        --width-#{$i}: nth($width, $i);
    }
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        @for $i from 1 to length($width){
            .#{$left-side}g--width-#{$i}#{$right-side}{
                width: nth($width, $i);
            }
        }
    }
}