:root{
    @each $key, $value in $font-family{
        @for $i from 1 through length($value){
            --font-family-#{$key}-#{$i}: #{nth($value, $i)};
        }
    }
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }
        
        @each $key, $value in $font-family{
            @for $i from 1 through length($value){
                .#{$left-side}g--font-family-#{$key}--#{$i}#{$right-side}{
                    font-family: #{nth($value, $i)};
                }
            }
        }
    }
}