:root{
    @for $i from 1 to length($height){
        --height-#{$i}: nth($height, $i);
    }
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        @for $i from 1 to length($height){
            .#{$left-side}g--height-#{$i}#{$right-side}{
                height: nth($height, $i);
            }
        }
    }
}

