.c-form{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: var(--margins-9) auto;
    padding: var(--padding-8);
}

@for $i from 1 through length($margins) {
    .c-form__submit--#{$i}{
        margin-bottom: nth($margins, $i);
    }
}

@each $key, $tones in $colores{
    .c-form__text--#{$key}{
        color: var( --color-#{$key}-5);    
    }
}
       





