.c-header{
    --c-header-color: var( --color-primary-5);

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    font-family: var(--font-family-serif);
    font-size: var(--font-size-7);
    padding: var(--padding-5) var(--padding-8);

    background-color: var(--c-header-color);
}


.c-header__logo{
    font-size: var(--font-size-9);
}

.c-header__links{
    display: flex;
    gap: 20px;
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }
            
            @each $key, $tones in $colores{

                @if $key == "primary" {
    
                }@else {
                    .#{$left-side}c-header--#{$key}#{$right-side}{
                        --c-header-color: var( --color-#{$key}-5);
                    }
                }
            }
        }
}




