@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

       .#{$left-side}c-links#{$right-side} {
            --c-links-color: var( --color-primary-5);
            
            color: var(--c-links-color);
            text-decoration: none;
            
        }

        @each $key, $tones in $colores{

            @if $key == "primary" {

            }@else {
                .#{$left-side}c-links--#{$key}#{$right-side}{
                    --c-links-color: var( --color-#{$key}-5);
                }
            }
        } 
    }
}

