:root{
    @for $i from 1 through length($border-radius){
        --border-radius-#{$i}: #{nth($border-radius, $i)};
    }
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }
        
        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        @for $i from 1 through length($border-radius){
            .#{$left-side}g--border-radius-#{$i}#{$right-side}{
                border-radius: var(--border-radius-#{$i})
            }

            .#{$left-side}g--border-top-right-radius-#{$i}#{$right-side}{
                border-top-right-radius:var(--border-radius-#{$i})
            }

            .#{$left-side}g--border-bottom-left-radius-#{$i}#{$right-side}{
                border-bottom-left-radius:--border-radius-#{$i}
            }

            .#{$left-side}g--border-bottom-right-radius-#{$i}#{$right-side}{
                border-bottom-right-radius:--border-radius-#{$i}
            }

            .#{$left-side}g--border-top-left-radius-#{$i}#{$right-side}{
                border-top-left-radius:--border-radius-#{$i}
            }
        }
    }
}