:root{
    @for $i from 1 through length($paddings){
        --padding-#{$i}: #{nth($paddings, $i)};
    }
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        @for $i from 1 through length($paddings) {
            $value: var(--padding-#{$i});
            .#{$left-side}g--padding-#{$i}#{$right-side}{
                padding: $value;
            }
        
            .#{$left-side}g--padding-x-#{$i}#{$right-side}{
                padding-right: $value;
                padding-left: $value;
            }

            .#{$left-side}g--padding-y-#{$i}#{$right-side}{
                padding-top: $value;
                padding-bottom: $value;
            }

            .#{$left-side}g--padding-left-#{$i}#{$right-side}{
                padding-left: $value;
            }

            .#{$left-side}g--padding-right-#{$i}#{$right-side}{
                padding-right: $value;
            }

            .#{$left-side}g--padding-top-#{$i}#{$right-side}{
                padding-top: $value;
            }

            .#{$left-side}g--padding-bottom-#{$i}#{$right-side}{
                padding-bottom: $value;
            }
        }

    }
}

