@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        .#{$left-side}c-button#{$right-side}{
            --c-button-strong-color: var( --color-primary-5);
            --c-button-weak-color: var(--color-white-5);
        
            font-family: sans-serif;
            font-size: 16px;
            padding: 12px;
            
            border-radius: 6px;
            border-width: 1px;
            border-style: solid;
            
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            
            border-color: var(--c-button-strong-color);
            background-color: var(--c-button-strong-color);
            color: var(--c-button-weak-color);
        }

        .#{$left-side}c-button--funcion-secundary#{$right-side}{
            --c-button-strong-color: var(--color-secundary-5);
        }

        .#{$left-side}c-button--funcion-peligrosa#{$right-side}{
            --c-button-strong-color: var(--color-red-5);
        }

        .#{$left-side}c-button--importancia-secundary#{$right-side}{
            border-color: var(--c-button-strong-color);
            background-color: var(--c-button-weak-color);
            color: var(--c-button-strong-color);
        }

        .#{$left-side}c-button--importancia-tertiary#{$right-side}{
            border-color: transparent;
            background-color: transparent;
            color: var(--c-button-strong-color);
        }
    }
}

