.c-footer{
    --c-footer-strong-color: var( --color-primary-5);
    --c-footer-weak-color: var(--color-white-5);

    text-align: center;

    margin-top: auto;
    bottom: 0;

    padding: var(--padding-5);
    width: 100%;

    background-color: var(--c-footer-strong-color);
    color: var(--c-footer-weak-color);
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

    
            #{$left-side}--without-scroll#{$right-side}{
                position: absolute;
                bottom: 0;    
            }
            @each $key, $tones in $colores{
            
            .#{$left-side}c-footer--#{$key}#{$right-side}{
                --c-footer-strong-color: var( --color-#{$key}-5);
                @if $key == "white" {
                    --c-footer-weak-color: var(--color-primary-5);
                }
            }
            
            .#{$left-side}c-footer-letter--#{$key}#{$right-side}{
                --c-footer-weak-color: var(--color-#{key}-5);
            }
        }
    }
}


