.c-form{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: var(--margins-9) auto;
    padding: var(--padding-8);
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

            @for $i from 1 to length($margins) {
                #{$left-side}__submit--#{$i}{
                    margin-bottom: nth($margins, $i);
                }
            }

            @each $key, $tones in $colores{
                #{$left-side}__text--#{$key}{
                    color: var( --color-#{$key}-5);    
                }
            }
        }
    }






