@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        .#{$left-side}c-header#{$right-side}{
            --c-header-color: var( --color-primary-5);

            display: flex;
            justify-content: space-between;
            align-items: center;

            text-decoration: none;
            font-family: sans-serif;
            font-size: 16px;
            padding: 10px 20px;

            background-color: var(--c-header-color);

            &__logo#{$right-side} {
                font-size: 24px;
            }

            &__links#{$right-side} {
                display: flex;
                gap: 20px;
            }
            
        }

        @each $key, $tones in $colores{

            @if $key == "primary" {

            }@else {
                .#{$left-side}c-header--#{$key}#{$right-side}{
                    --c-header-color: var( --color-#{$key}-5);
                }
            }
        }
    }
}



