.c-title{
    --c-title-color: var( --color-primary-5);
    color: var(--c-title-color);
    
    font-size: var(--font-size-10);
    font-weight: bold;
    
    padding: var(--padding-7);
}

@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        #{$left-side}c-title--very-small#{$right-side}{
            font-size: var(--font-size-7);;
        }

        #{$left-side}c-title--small#{$right-side}{
            font-size: var(--font-size-9);
        }

        #{$left-side}c-title--large#{$right-side}{
            font-size: var(--padding-12);
        }

        #{$left-side}c-title--very-large#{$right-side}{
            font-size: var(--padding-13);
        }

        #{$left-side}c-title--center#{$right-side}{
            text-align: center;
        }
        @each $key, $tones in $colores{

            @if $key == "primary" {

            }@else {
                .#{$left-side}c-title--#{$key}#{$right-side}{
                    --c-title-color: var( --color-#{$key}-5);
                }
            }
        }
    }
}




  