@each $key, $value in $breakpoint {
    @media (min-width: $value){
        $right-side: \@#{$key};
        $left-side: "";

        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
            $right-side: "";
            $left-side: "";
        }

        .#{$left-side}c-title#{$right-side}{
            --c-title-color: var( --color-primary-5);
            color: var(--c-title-color);
            
            font-size: 32px;
            font-weight: bold;
            
            padding: 15px;

            &--very-small#{$right-side}{
                font-size: 16px;
            }

            &--small#{$right-side}{
                font-size: 24px;
            }

            &--large#{$right-side}{
                font-size: 48px;
            }

            &--very-large#{$right-side}{
                font-size: 64px;
            }

            &--center#{$right-side}{
                text-align: center;
            }

        }

        @each $key, $tones in $colores{

            @if $key == "primary" {

            }@else {
                .#{$left-side}c-title--#{$key}#{$right-side}{
                    --c-title-color: var( --color-#{$key}-5);
                }
            }
        }
    }
}



  