@each $key, $value in $breakpoint {
  @media (min-width: $value){
      $right-side: \@#{$key};
      $left-side: "";
        
        @if($initially-breackpoint == true){
            $right-side: "";
            $left-side: #{$key}\@;
        }

        @if($key == ""){
          $right-side: "";
          $left-side: "";
        }

      .#{$left-side}l-rows#{$right-side} {
        display: grid;
        grid-template-rows:  1fr 1fr 1fr;
      
        @for $i from 2 to 6 {
          &-first--#{$i} #{$right-side}{
            grid-template-rows:  #{$i}fr 1fr 1fr;
          }    

          &-second--#{$i} #{$right-side}{
            grid-template-rows:  1fr #{$i}fr 1fr;
          } 

          &-third--#{$i} #{$right-side}{
            grid-template-rows:  1fr 1fr #{$i}fr;
          }
        }    
      }
  }
}

